*{font-family: Arial, Helvetica, sans-serif;}
*:focus-visible {
    outline: none;
   
}
*:focus:not(:focus-visible) {
    outline: none;
}
i {
    color: currentColor;
}

h1 {
    color: #72aeac;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}

h1 i {
    margin-left: 16px;
    font-size: 80%;

}
 

form i {
    position: absolute;
    left: 6px;
    font-size: 18px;
    top: 8px;
    color: #72aeac;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #36555a;
}
form {
    background-color: #22373c;
    padding: 24px;
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 5px 40px #72aeac;
    border-radius: 5px;
}

label {
    position: absolute;
    top: 32px;
    left: 32px;
}

button, .button {
    background: #36555a;
    color: #fff;
    padding: 8px 32px 8px 32px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1;
    border-style: none;
    line-height: 24px;
    text-align: center;
    margin-top: 32px;

}

.actionbar {
flex: 1;
display: flex;
justify-content: center;

}

button:hover, .button:hover{
    background-color: #507d7f;
    cursor: pointer;
}

input {
    font-size: 16px;
    border: #72aeac;
    height: 26px;
    margin-top: 4px;
    border: solid;
    border-width: 1px;
    padding: 8px;
    text-indent: 30px;

}

input:focus + label {
    transform: translateY(-24px) translateX(-8px);
    text-transform: uppercase;

}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    flex: 1;
    position: relative;
}

.formrow {
    margin-top: 8px;
    margin-bottom: 8px;
}

.submit {
float: right;
flex: 1;
}

@media (min-width: 720px) {
    .formrow{
     display: flex;
     gap: 24px;
    }
  }

